<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" />
                <binding name="WSHttpBinding_IProxy" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/IService1/Service1" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1" contract="ServiceReference1.IService1" name="WSHttpBinding_IService1">
                <identity>
                    <userPrincipalName value="TROTRO-COMPUTER\33652" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8090/IProxy/Proxy" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxy" contract="ServiceReference2.IProxy" name="WSHttpBinding_IProxy">
                <identity>
                    <userPrincipalName value="TROTRO-COMPUTER\33652" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>