<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IProxy" maxReceivedMessageSize="1000000" >
					<readerQuotas maxStringContentLength="2000000" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8090/IProxy/Proxy" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IProxy" contract="ServiceReference1.IProxy"
                name="WSHttpBinding_IProxy">
				<identity>
					<userPrincipalName value="TROTRO-COMPUTER\33652" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>
