<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IProxy" maxReceivedMessageSize="1000000">
					<readerQuotas maxStringContentLength="2000000"/>
					<!-- Vous pouvez également ajouter d'autres configurations de liaison ici -->
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service name="NomDeVotreService">
				<endpoint address="http://localhost:8090/IProxy/Proxy" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProxy" contract="VotreContrat"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
